<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Passport</title>
</head>

<body>
  <h1>Passport</h1>

  <header>
    <a href="/">Home</a>
    <a href="/signin">Signin</a>
    <a href="/signup">Signup</a>
    <a href="/auth/google">Signin with Google</a>
    <a href="/auth/twitter">Signin with Twitter</a>
    <a href="/auth/facebook">Signin with Facebook</a>
  </header>

  <p>Passport strategies</p>
</body>

</html>