extends layout

block content
  form(action="/api/artists", method="POST")
    div
      label(for="name") Name
      input(id="name" name="name" type="text" placeholder="Artist name")

    div
      label(for="age") Age
      input(id="age" name="age" type="number")

    div
      label(for="nicknames") Also knows as
      input(type="text" name="nicknames" placeholder="nickname1, nickname2, ...")

    div
      label(for="occupations") Occupations
      input(type="text" name="occupations" placeholder="occupation1, nickname2, ...")

    //- div
    //-   label(for="groups") Groups
    //-   ul
    //-     each group in [1,2,3,4,5]
    //-       input(type="checkbox" value="21221525" name="groups")
    //-       label Group #{group}

    //- div
    //-   label(for="genres") Genres
    //-   ul
    //-     - const genres = ['JPop', 'JRock', 'Alternative', 'Classic']
    //-     each genre in genres
    //-       input(type="checkbox" value=genre name="genres")
    //-       label= genre

    div
      label(for="description") Description
      textarea(id="description" name="description")

    div
      label(for="born") Born
      input(id="born" name="born" type="date")

    div
      label(for="debut") Debut
      input(id="debut" name="debut" type="date")

    button(type="submit") Create artist
