extends layout

block content
  form(action="/api/songs", method="POST")
    div
      label(for="name") Name
      input(id="name" name="name" type="text" placeholder="Song name")

    div
      label(for="release") Release
      input(id="release" name="release" type="date")

    div
      label(for="album") Album
        select(name="album")
          each album in albums
            option(value=album._id)= album.name

    div
      label(for="group") Group
        select(name="group")
          each group in groups
            option(value=group._id)= group.name

    button(type="submit") Create song
