extends layout

block content
  form(action="/api/concerts", method="POST")
    div
      label(for="name") Name
      input(id="name" name="name" type="text" placeholder="Concert name")

    div
      label(for="description") Description
      textarea(id="description" name="description" placeholder="Concert description")
    
    div
      label(for="group") Group
      select(name="group")
        each group in [1,2,3,4,5]
          option(value="123124124") Group #{group}

    button(type="submit") Create concert