extends layout

block content
  form(action="/api/groups", method="POST")
    div
      label(for="name") Name
      input(id="name" name="name" type="text" placeholder="Group name")

    div
      label(for="description") Description
      textarea(id="description" name="description" placeholder="Group description")

    div
      label(for="members") Members
      ul
        each member in members
          input(type="checkbox" value=member._id name="members")
          label= member.name

    //- div
    //-   label(for="concerts") Concerts
    //-   ul
    //-     each concert in [1,2,3,4,5]
    //-       input(type="checkbox" value="2122qw1525" name="concerts")
    //-       label Concert #{concert}

    button(type="submit") Create group