extends layout

block content
  form(action="/api/songs", method="POST")
    div
      label(for="name") Name
      input(id="name" name="name" type="text" placeholder="Song name")

    div
      label(for="release") Release
      input(id="release" name="release" type="date")

    div
      label(for="album") Album
        select(name="album")
          each album in [1,2,3,4,5]
            option(value="12309120") Album #{album}

    div
      label(for="group") Group
        select(name="group")
          each group in [1,2,3,4,5]
            option(value="12309120") Group #{group}

    button(type="submit") Create song
